# .env.example

SOLANA_RPC_URL=
SOLANA_RPC_WSS=
MORALIS_API_KEY=
BIRDEYE_API_KEY=
BIRDEYE_METADATA_KEY=
ENRICH_MAX_RETRIES=2
PROCESS_INTERVAL_MS=5000
API_PORT=3000
CLEANUP_MAX_AGE_MS=86400000  # 1 day by default
